#nav-bar {
  position: fixed;
  top: 0px;
  height: 80px;
  width: 100%;
  background-color: #00a087;
  color: #e8fdff;
  padding-left: 2em;
  padding-right: 2em;
  z-index: 2;
}


#nav-bar .logo {
  height:80px;
  width: 80px;
  padding-left:5px;
  padding-right:5px;
  float: left;
}

#nav-bar .header {
  padding: 5px;
  font-size: 2em;
  height:80px;
  float:left;
  line-height:  2em;
}


#compose input {
  float:right;
  background-color: #e8fdff;
  height: 40px;
  border-radius: 7px;
  border-style: solid;
  border-color: #908e8e;
  border-width: 1.5px;
  margin-top: 20px;
}

#compose input:hover {


  
}

