.tweet {
  clear:both;
  border-style: solid;
  border-width: 2px;
  border-color: lightgrey;
  border-radius: 7px;
  margin-left: auto;
  margin-right:auto;
  margin-top:1em;
  opacity: .7;
 
}

.tweet header {
  background-color:lightgrey;
  padding: 10px;
  height: 70px;
}

.tweet header img {
  float: left;
  height: 50px;
  margin-right:10px;
}

.tweet .name {
  float: left;
  font-size: 1.5em;
}

.tweet .handle {
  float: right;
}

.tweet .body {
    clear:both;
    margin:10px;
    height: 50px;
}

.tweet footer {
  border-top: solid;
  border-top-width: 1px;
  border-top-color:lightgrey;
  height: 33px;
}

.tweet .daysago {
  margin-left: 10px;
  font-size: 0.8em;
  height: 33px;
  line-height: 33px;
  float:left;
  width: 100px;
}


.tweet:hover {
    opacity: 1;
    box-shadow: 1px 1px #bdbbbb
}


.tweet .symbols {
  margin-right:10px;
  line-height: 33px;
  float:right;
  opacity: 0;
}

.tweet:hover .symbols {
  opacity: 1;
  margin-right:10px;
  line-height: 33px;
  float:right;
  transition: .7s cubic-bezier(0.52, 0.01, 0.25, 1);
}